<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/autoload.php"
         colors="true"
         forceCoversAnnotation="false">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">test</directory>
      <exclude>tests/engine</exclude>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
